
.app-notify {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }

  .content {
    position: relative;
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    background: white;
    margin: 40px auto;
    border-radius: 3px;
    z-index: 2;
    text-align: left;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);

    h2 {
      color: $ap-black !important;
    }

    textarea {
      width: 100%;
      height: 200px;
      resize: none;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 5px;
      border-color: $ap-light-gray;
    }

    .button-area {
      text-align: right;
      margin-top: 20px;

      button {
        padding: 10px 40px;
        margin-left: 15px;
        width: 150px;
      }
    }
  }
}